body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px 0px 10px 0px;
}

.inline {
  display: inline !important;
}
* {
  box-sizing: border-box;
}
header {
  position: fixed;
  display: block;
  height: 50px;
  background: #9cf;
  min-width: 100%;
  padding: 0px 10px;
  font-size: 2em;
  /* fixing bug */
  z-index: 1;
}

@media screen and (max-width: 750px) {
  td label {
    display: block !important;
  }
  .form {
    box-shadow: none !important;
    background-color: white !important;
  }
}

@media screen and (max-width: 650px) {
  header {
    font-size: 1.5em;
  }

  .progress-bar {
    display: none;
  }

  form.form {
    padding-top: 50px;
  }
}

@media screen and (max-width: 450px) {
  .company-page {
    display: none;
  }

  .company-name {
    display: block;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    padding: 0px;
  }
}

@media screen and (min-width: 451px) {
  form.form {
    font-size: 1.5em;
  }

  .company-name {
    display: inline;
  }
}

@media screen and (min-width: 651px) {
  form.form {
    padding-top: 100px;
  }
}

section {
  padding: 0px 10px;
}

label {
  display: block;
  margin-bottom: 1em;
  /* for error message */
  position: relative;
}
/* maplink centering */
label:has(a) {
  align-items: center;
}
label:has(a) > input {
  padding: 8px 2px;
}
#map-link {
  font-size: 1rem;
}
/* code for map-link ends */

.company-page {
  float: right;
  margin-right: 20px;
}

.progress-bar {
  --progress: 0;
  position: fixed;
  margin-top: 50px;
  width: var(--progress);
  height: 10px;
  background: #fc9;
  /* fixing bug */
  z-index: 1;
}

form.form, section.order-review{
  display: block;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

form.form {
  background-color: ghostwhite;
  padding: 20px 6rem;
  box-shadow: 10px 1px 50px -9px grey;
}

form.form input {
  display: block;
  font-size: 0.6em;
}

.your-order {
  border: 1px solid;
  max-width: 100%;
}

form table {
  margin-top: 60px;
  width: 600px;
}
form label {
  display: flex;
  justify-content: space-between;
}
form th {
  padding-bottom: 25px;
  text-align: start;
}
tr.headings {
  font-weight: bold;
}

tr.total {
  font-style: italic;
}

.order-review {
  font-size: 1.1rem;
}
.order-review table {
  margin-top: 30px;
}
.order-review td {
  padding: 10px;
  border: 1px solid;
}
.order-review label {
  justify-content: start;
}

.order-review tr:nth-child(even) {
  background-color: #eee;
}

.check-correct {
  margin-top: 10px;
}
input[type=checkbox] {
  height: 20px;
  width: 25px;
}
button[type=submit] {
  padding: 10px;
  border: none;
  font-size: 1.5rem;
  background-color: cornflowerblue;
  color: whitesmoke;
  border-radius: 10px;
  transition: all 0.3s;
}
button[type=submit]:hover {
  box-shadow: 0px 1px 13px 2px grey;
  cursor: pointer;
}
input:focus {
  outline: none;
}

.error {
  position: absolute;
  top: 2rem;
  right: 0;
  font-size: 1rem;
  background-color: red;
  color: white;
  padding: 1px;
  font-weight: 500;
}

/* validation style */
.valid {
  outline: 1px auto green !important;
}
.invalid {
  outline: 1px auto red !important;
}